.cards {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 145px;
  }
  
  @media screen and (max-width: 320px) and (max-width: 775px) {
    .cards {
      margin: 298px 19px 96px;
      padding: 0;
    }
  }  