.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__image {
  object-fit: cover;
  background-color: black;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-radius: 0px 0px 10px 10px;
  border: none;

}
.card__title {
  margin: 0;
  max-width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-family: "Inter-bold", Arial, sans-serif;
}

.card__like-button {
  width: 21px;
  height: 18px;
  border: none;
  background: transparent url(../images/Group.svg) center no-repeat;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

