.footer {
  margin: 0;
}

.footer__image {
  padding: 85px 962px 60px 0px;
  width: 318px;
  height: 18px;
}

@media screen and (max-width: 320px) and (max-width: 775px) {
  .footer__content {
    margin: 48px 19px 0;
    padding-bottom: 36px;
    display: flex;
    justify-content: center;
  }
}
