.header {
  max-width: 880px;
  border-bottom: 1px solid #545454;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.header__logo {
  /* display: flex; */
  /* margin-top: 45px; */
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) and (max-width: 775px) {
  .header {
    width: 100%;
    margin: 28px auto 0px;
  }

  .header__logo {
    margin: 0px 0px 32px 27px;
    width: 126px;
  }
}
