.header {
  max-width: 880px;
  border-bottom: 1px solid rgb(84 84 84 / .7);
  flex-shrink: 0;
}

.header__logo {
  margin: 45px 0 40px;
}

@media screen and (max-width: 320px) {
  .header {
    min-width: 100%;
  }

  .header__logo {
    margin: 28px 0px 32px 27px;
    height: 24px;
    width: 126px;
  }
}
