.page {
  background: black;
  color: white;
  max-width: 100%;
  margin: 0 auto;
}

.page__section {
  width: 100%;
  max-width: 880px%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px 200px;
}

@media screen and (max-width: 320px) and (max-width: 775px) {
  .page {
    width: auto;
    max-width: calc(100% - 40px);
  }
}
