.profile {
  display: flex;
  align-items: center;
}

.profile__avatar {
  margin: 0 24px 0 0;
  width: 100%;
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto 373px) auto;
  grid-gap: 18px;
  width: 100%;
}

.profile__title {
  color: #fff;
  font-family: "Inter-Medium", Arial, sans-serif;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  max-width: 373px;
  grid-area: title;
  width: 100%;
}

.profile__description {
  margin: 0;
  color: #fff;
  font-family: "Inter-regular", Arial, sans-serif;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 373px;
  grid-area: description;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
  border: 1px solid #fff;
  grid-area: button;

}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}



@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    width: 100%;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 282px;
    width: 100%;
  }

  .profile__title {
    margin: 26px 0 14px;
    max-width: 196px;
  }


  .profile__add-button {
    /* width: 282px; */
    min-width: 100%;
    margin: 36px;
  }
}

