.footer {
  padding: 67px 0px 60px;
}

.footer__caption {
  color: #545454;
  font-size: 18px;
  font-family: "Inter-normal", Arial, sans-serif;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer__caption {
    font-size: 14px;
  }

}
